h1 {
  color: blue;
  font-weight:bold;
}

h2 {
  color: darkgray;
}

h3 {
  color: darkblue;
}

p {
  font-family: sans-serif;
  font-size: 200%;
}

ul {
  text-align:left;
}

body {
  background-color: powderblue;
  border: 10px solid gray;
  padding: 30px;
  text-align: center;
}
