h1 {
  color: blue;
}

h2 {
  color: darkgray;
}

h3 {
  color: darkblue;
}

p {
  font-family: sans-serif;
  font-size: 200%;
}

ul {

}

body {
  background-color: powderblue;
  border: 1px solid gray;
  padding: 30px;
}
