h1 {
  color: DarkGoldenRod;
  font-weight:bold;
}

h2 {
  color: Khaki;
}

h3 {
  color: darkblue;
}

p {
  font-family: monospace;
  font-size: 200%;
}

ul {
  text-align:left;
}

body {
  background-color: Aquamarine;
  border: 10px solid gray;
  padding: 30px;
  text-align: center;
}